;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[cider/cider-nrepl "0.28.4"]
  [funcool/promesa "8.0.450"]]

 :nrepl
 {:port 3333}

 :builds
 {:app {:target :node-script
        :main dynamo/main
        :output-to "dist/main.js"}}}
 
